GRAYLOG_HOST_NAME=pensdevgraylog.itsshared.net
GRAYLOG_HOST_IP=10.46.16.2
GRAYLOG_INPUT_PORT=5044

#this is not used but mentioned here, for information purpose only in plain text format...
ROOT_PASSWORD=password123
##########################################################################################
#/etc/graylog/server/server.conf properties
PASSWORD_SECRET=hellohellohellohellohello
ROOT_USERNAME=admin

# echo -n ROOT_PASSWORD | shasum -a 256
ROOT_PASSWORD_SHA2=ef92b778bafe771e89245b89ecbc08a44a4e166c06659911881f383d4473e94f
WEB_LISTEN_URI=http://pensdevgraylog.itsshared.net:9000/
REST_LISTEN_URI=http://pensdevgraylog.itsshared.net:9000/api/
