GRAYLOG_HOST_NAME=mygraylog.myworld.net
GRAYLOG_HOST_IP=192.168.7.175
GRAYLOG_INPUT_PORT=5044
   
#this is not used but mentioned here, for information purpose only in text format
ROOT_PASSWORD=vishwa
#####################################################################################
#/etc/graylog/server/server.conf properties
PASSWORD_SECRET=hellohellohellohellohello
ROOT_USERNAME=vishwa

# echo -n ROOT_PASSWORD | shasum -a 256
ROOT_PASSWORD_SHA2=e328a0d90d4b5132b2655cf7079b160040d2c1a83d70d4cad9cf1f69310635b3
WEB_LISTEN_URI=http://mygraylog.myworld.net:9000/
REST_LISTEN_URI=http://mygraylog.myworld.net:9000/api/

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_AUTH_USER=dwp.chaps.monitoring@gmail.com
SMTP_AUTH_PWD=S3cr3t00

